nav {
	padding: 20 40px;
}

nav ul {
	margin: 0;
	padding: 0 0 12px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: 0.5px solid $color_font_body;
}

nav ul li {
	list-style-type: none;
}

nav ul li a {
	text-decoration: none;
	color: $color_font_title;
	font-family: $font_title;
	font-size: 13px;
	text-transform: uppercase;
}

.navbar-burger {
	width: 25px;
	padding: 8px;

	& hr {
		margin: 5px 0;
	}
}